# Ignore Python compiled files and cache
**/__pycache__/

# Ignore virtual environment and package management
venv/

# Ignore testing cache
.pytest_cache/

# Ignore distribution folders
dist/
build/
*.egg-info/

# Ignore python-notebook checkpoints
.ipynb_checkpoints/
