appdirs==1.4.4
attrs==21.4.0
autopep8==1.6.0
beautifulsoup4==4.10.0
bs4==0.0.1
cdstarcat==1.3.0
certifi==2021.10.8
charset-normalizer==2.0.12
cldfbench==1.10.0
cldfcatalog==1.4.0
clldutils==3.11.1
colorlog==6.6.0
csvw==2.0.0
cycler==0.11.0
docopt==0.6.2
editdistance==0.6.0
epitran==1.18
et-xmlfile==1.1.0
fonttools==4.32.0
gensim==4.1.2
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
ipatok==0.4.0
isodate==0.6.1
kiwisolver==1.4.2
latexcodec==2.0.1
lingpy==2.6.9
marisa-trie==0.7.7
Markdown==3.3.6
matplotlib==3.5.1
munkres==1.1.4
nameparser==1.1.1
networkx==2.7.1
newick==1.3.2
numpy==1.22.3
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
panphon==0.19.1
Pillow==9.1.0
pluggy==1.0.0
purl==1.6
py==1.11.0
pybtex==0.24.0
pycdstar==1.0.1
pycldf==1.25.1
pyclts==3.1.1
pycodestyle==2.8.0
pyconcepticon==2.8.0
pycountry==22.3.5
pyglottolog==3.7.0
pylexibank==3.3.0
pyparsing==3.0.7
pytest==7.1.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.3.15
requests==2.27.1
rfc3986==1.5.0
scipy==1.8.0
segments==2.2.0
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
soupsieve==2.3.1
SQLAlchemy==1.4.34
tabulate==0.8.9
termcolor==1.1.0
toml==0.10.2
tomli==2.0.1
tqdm==4.64.0
unicodecsv==0.14.1
Unidecode==1.3.4
uritemplate==4.1.1
urllib3==1.26.9
Whoosh==2.7.4
xlrd==2.0.1
zenodoclient==0.4.1
zipp==3.8.0
